<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latin Converter</title>
  </head>

  <body>
    <h1>Pig Latin Converter</h1>
    <img src="https://i1.wp.com/www.vinaysingh.info/wp-content/uploads/2014/03/piglatin.png">

    <!-- Insert Your Form Below -->
 <form method="POST" action = "/name">
   <p>Song Name: <input type="text" name= "song1"></p>
   <p>Favorite Song: <input type="text" name="song2"></p>
 <input type="submit">
 </form>
  </body>
</html>
